# file options

--symlinks ignore
--swiftversion 5.1

--exclude Package.swift

# format options

--header "ASCollectionView. Created by Apptek Studios 2019"
--allman true
--indent tabs
--tabwidth 4
--closingparen same-line
--commas inline
--comments indent
--decimalgrouping 3,5
--exponentcase lowercase
--exponentgrouping disabled
--fractiongrouping disabled
--ifdef outdent
--importgrouping testable-top
--operatorfunc no-space
--ranges no-space
--selfrequired validate
--stripunusedargs closure-only
--wraparguments before-first
--wrapcollections before-first
