# file options

--symlinks ignore
--swiftversion 5.2

--exclude Package.swift

# format options

--header "ASCollectionView. Created by Apptek Studios 2019"
--allman true
--indent tabs
--tabwidth 4
--closingparen same-line
--commas inline
--comments indent
--decimalgrouping 3,5
--exponentcase lowercase
--exponentgrouping disabled
--fractiongrouping disabled
--ifdef outdent
--importgrouping testable-top
--wraparguments before-first
--wrapcollections after-first

--disable unusedArguments
